@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('blackPage.css');

body {
    font-family: "Sedan SC", serif;
}

.navbar-nav-big {
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.head {
    padding-top: 12px;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px dotted #000;
}

.contact {
    font-family: serif;
    background-color: #f0f1ff;
    box-shadow: 10px 10px 40px 12px lightblue;
}

.btn-info {
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    color: black;
    transition: all 0.5s ease-in-out;
}

.btn-info:hover {
    transform: scale(1.05);
}