@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('blackPage.css');

body {
    font-family: "Sedan SC", serif;
}

.font-times {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-nav-big {
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.head-text {

    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;

}