@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('blackPage.css');

body {
    font-family: "Sedan SC", serif;
}

.font-times {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-nav-big {
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.head-text {

    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.card-shadow {
    box-shadow: 2px 2px 20px 1px lightblue;
}

.card-shadow:hover {
    animation: card-sizing 1s ease;
    -webkit-animation-fill-mode: forwards;


}

.card-shadow:not(:hover) {
    animation: de-card-sizing 0.5s ease;
    -webkit-animation-fill-mode: forwards;
}

@keyframes card-sizing {
    0% {
        transform: scale(1.00);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes de-card-sizing {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.00);
    }
}