@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('blackPage.css');

body {
    font-family: "Sedan SC", serif;
    background-color: aliceblue;
}

.login {
    margin-top: 25%;
    justify-content: center;
}

.btn {
    margin-left: 25%;
    margin-top: 5px;
}

.btn:hover {
    border-color: currentColor;
}

.row {
    height: 75vh;
}